.background-vermelho {
	background-color: #CD0005 !important;
	color: #fff;
}

#contato{
	text-align: center;
	padding-bottom: 0 !important;
	font-size: 27px;
	font-family: 'Avenir-Bold';
}

#contato .contato-info{
	text-align: left;
	margin-top: 10px;
}

#contato .contato-info img{
	margin-right: 15px;
}

#contato .contato-botao{
	font-size: 12px;
	font-family: 'Avenir-Regular';
	border: 3px solid #fff;
	cursor: pointer;
}

#contato .contato-col{
	padding-top: 7%;
	padding-bottom: 7%;
	float: left;
	z-index: 2;
}

section{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}